html{
    margin: 0px;
    background-color: #b0Bc98;
    font-family: 'Comfortaa', cursive;
    font-size: 1.50em;
}

html,body{
    height:100%;
}
a{
   color: #000; 
   text-decoration: none;
   
}
#bgMenu{
    position:static;
}
.navMenu{
    overflow: hidden;
    position: relative;
}

.navMenu #navLink{
    display: none;
}

.navMenu a{
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.navMenu a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navMenu a:hover{
    color: #fff;
}



.contentPage{
    position: relative;
    text-align: center;
    padding: 1em;
    height: 100%;
}

.contentPage h1{
    text-align: left;
}

.contentPage ul, li{
    list-style: none;
}

#welcomeScreen{
    text-align: left;
    font-size: 1.75em;
}

#mii_fr img{
    position: fixed;
    right: 0;
    bottom: 1em;
    height: 50%;
}