*{
    padding: 0;
    margin: 0;
}

html{
    background-color: #1D2021;
    color:  #fff;
    font-family: 'Inter', sans-serif;
}

h1{
    font-weight: normal;
    font-size: 96px;
}

p{
    font-size: 48px;
}

a:link, a:visited {
    text-decoration: none;
    color:#fff;
}

a:active, a:hover{
    text-decoration: underline;
}

.card{
    background-color: transparent;
    width:500px;
    height:300px;
    perspective: 1000px;
}

.cardInterior{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .cardInterior{
    transform: rotateY(180deg);
}

.cardFront, .cardBack{
    position: absolute;
    width: 100%;
    height: 80%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;

}

.cardFront{
    background-color: rgba(179, 186, 188, 0.25) ;
    color:#fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cardFront p, .cardFront span{
    flex-basis: 100%;
}

.cardBack{
    background-color: rgba(179, 186, 188, 0.25);
    color: #fff;
    transform: rotateY(180deg);
    text-align: left;
}

.cardBack h2{
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
    font-size: 48px;
}

.cardBack p{
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

.cardBack ul{
    padding-left: 10%;
    font-size: 24px;
    list-style-type: disc;
}

.navMenu{
    position: static;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentPage{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sectionHeader{
    font-size: 64px;
    margin-bottom:5%;
}

.slide{
    background-color: rgba(179, 186, 188, 0.25);
    border-radius: 15px;
}

.navDot{
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: #fff;
    border-radius: 50%;
}

#dotList{
    display:flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 10px;
    z-index: 1;
}

#navLinks{
    z-index: 1;
    display: flex;
    gap: 30px;
    font-size: 24px;
}

#nameTile{
    font-size: 48px;
    text-align: center;
}

#subHeader{
    font-size: 24px;
}

#introText{
    margin-right: 20%;
}

#subText{
    font-size: 64px;
    margin-right: 15%;
    opacity: 25%;
}

#bottomText{
    font-size: 24px;
    opacity: 35%;
    margin-top: 20%;
}

#aboutMe{
    margin-bottom: 15%;
    text-align: left;
    padding: 5em;
}

#cardDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30%;
    justify-content: center;
}

#projectScreen p{
    margin-bottom: 10%;
}

#projectSlides{
    margin-left: 25%;
    margin-right: 25%;
}

#projectSlides h2{
    text-decoration: underline;
    font-size: 48px;
}

#projectSlides p{
    font-size: 36px;
}

#projectSlides img{
    max-width: 40%;
    max-height: 20%;
}

#projectSlides a{
    color: #A9CEF4;
    font-size: 24px;
}

#projectSlides a:visited{
    color: #FE5F55;
}

#contactBox{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

#contactBox #formBox{
    width: 50%;
}

#socialBox{
    background-color: #A9CEF4;
}