@keyframes easeIn {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes easeOut{
    from{opacity: 100%;}
    to{opacity: 0%;}
}

*{
    margin:0;
    padding:0;
}

/* Font Size + Styling */

section{
    height:100vh;    
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:3em;
}

.navMenu{
    position: fixed;
    width:95%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

#navLinks{
    display: flex;
    gap: 1em;
    font-size: 24px;
    list-style-type: none;
}

#nameTile{
    font-size: 48px;
    text-align: center;
}

#bottomText{
    position: absolute;
    bottom:10%;
}

#resumeButton{
    background-color: red;
}

#cardDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vw;
    height: 75vh;
    width: 50vw;
    align-content: center;
    justify-content: center;
}

.skillCard{
    cursor:pointer;
    flex-basis:25%;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 3px 5px #888;
      /*pretty up the cards  */
}

.cardFront,.cardBack{
    display: flex;
    align-content: center;
    justify-content: center;
    transition: visibility 10ms;
    transition-timing-function: ease;
    animation-name: easeIn;
    animation-duration: 100ms;
}

.cardBack{
    flex-direction: column;
}

.hide{
    display: none;
}

button{
    width: 50px;
    height: 50px;
}

.projectSlide{
    display: none;
    /*
        These value are used after inheriting the display when showSlide() is called
        (also pretty up the slides
    */
    flex-direction: column;
}

.projectSlide img{
    max-width: 10vw;
    max-height: 10vh;
}

#contactSection{
    gap:1em;
}

#splitSection{
    display: flex;
    width: 50vw;
    flex-direction: row;
    gap:2em;
}
#leftSide,#rightSide{
    flex-basis: 50%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 5px #888;
    padding:1em;
}

#leftSide{
    background-color: yellow;
}

#leftSide ul{
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
}

#rightSide{
    background-color: brown;
}

#rightSide form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#rightSide label{
    align-self: start;
}

#rightSide input[type=text]{
    width:20em;
    height: 25px;
}

#rightSide input[type=submit]{
    width: 100px;
    height:25px
}

#rightSide form{
    /*
        to do here:
        * Pretty up text input fields
        * fix submit button 
    */

}

