@keyframes easeIn {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes easeOut{
    from{opacity: 100%;}
    to{opacity: 0%;}
}

*{
    margin:0;
    padding:0;
}

/* Font Size + Styling */

section{
    height:100vh;    
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navMenu{
    position: fixed;
    width:95%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

#navLinks{
    display: flex;
    gap: 30px;
    font-size: 24px;
    list-style-type: none;
}

#nameTile{
    font-size: 48px;
    text-align: center;
}

#bottomText{
    position: absolute;
    bottom:10%;
}


#cardDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vw;
    height: 75vh;
    width: 50vw;
    align-content: center;
    justify-content: center;
}

.skillCard{
    cursor:pointer;
    flex-basis:25%;
    
}

.cardFront,.cardBack{
    display: flex;
    align-content: center;
    justify-content: center;
    transition: visibility 10ms;
    transition-timing-function: ease;
    animation-name: easeIn;
    animation-duration: 100ms;
}

.cardBack{
    flex-direction: column;
}

.hide{
    display: none;
}

button{
    width: 50px;
    height: 50px;
}

.projectSlide{
    display: none;
    /* these value are used after inheriting the display when showSlide() is called */
    flex-direction: column;
}

.projectSlide img{
    max-width: 10vw;
    max-height: 10vh;
}

#splitSection{
    display: flex;
    width: 50vw;
    flex-direction: row;
}
#leftSide,#rightSide{
    flex-basis: 50%;
    text-align: center;
}
