*{
    margin:0;
    padding:0;
}


section{
    height:100vh;
    
    border:8px solid black;
    
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navMenu{
    position: fixed;
    width:95%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

#navLinks{
    display: flex;
    gap: 30px;
    font-size: 24px;
    list-style-type: none;
}

#nameTile{
    font-size: 48px;
    text-align: center;
}

#bottomText{
    position: absolute;
    bottom:10%;
}